<div class="container search-results">
    <div class="row search-card">
        <div class="col-sm-10 mx-auto">
            <div class="card search-card text-center">
                <h3>{{title}}</h3>
            </div>
        </div>
        {{#each restaurant}}
            <div class="col-sm-10 mx-auto">
                <div class="card search-card">
                    <a href="/restaurant/{{id}}" class="restaurant-label"><h4>{{name}}</h4></a>
                    <p>{{street1}}, {{city}}, {{state}}, {{zip}}</p>
                    <p id="latitude{{id}}" style="display: none">{{lat}}</p>
                    <p id="longitude{{id}}" style="display: none">{{lng}}</p>
                </div>
            </div>
        {{/each}}

        <div id="map" style="display: contents"></div>

    </div>
</div>

<script>
    // Initialize and add the map
    var lat = {{restaurant.0.lat}};
    var lng = {{restaurant.0.lng}};
    console.log(lat, lng);
    function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
            center: {lat: parseFloat(lat), lng: parseFloat(lng)},
            zoom: 15
        });

        {{#each restaurant}}
            lat = parseFloat({{lat}});
            lng = parseFloat({{lng}});
        console.log(lat, lng);
        var marker{{id}} = new google.maps.Marker({
           position: {lat: lat, lng: lng},
            map: map,
            title: '{{name}}',
        });

            var contentstring{{id}} = '<div><h3>{{name}}</h3></div>';
            var infowindow{{id}} = new google.maps.InfoWindow({
                content: contentstring{{id}}
            });
            marker{{id}}.addListener('click', function () {
                infowindow{{id}}.open(map, marker{{id}});
            });

        {{/each}}


    }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key={{GMapsAPIKEY}}&callback=initMap" async defer>



<!--var resOne = {lat: {{restaurant.0.lat}}, lng: {{restaurant.0.lng}}-->
<!--};-->
<!--// The map, centered at res-->
<!--var map = new google.maps.Map(-->
<!--document.getElementById('map'), {zoom: 4, center: resOne});-->
// The marker, positioned at res---

<!--{{#each restaurant}}-->
<!--    resOne = {lat: {{restaurant.0.lat}}, lng: {{restaurant.0.lng}} };-->
<!--    var marker = new google.maps.Marker({position: resOne, map: map});-->
<!--{{/each}}-->