<div class="container search-results">
    <div class="row search-card">
        <div class="col-sm-10 mx-auto">
            <div class="card search-card text-center">
                <h3>{{title}}</h3>
            </div>
        </div>
        {{#each restaurant}}
            <div class="col-sm-10 mx-auto">
                <div class="card search-card">
                    <a href="/restaurant/{{id}}" class="restaurant-label"><h4>{{name}}</h4></a>
                    <p>{{street1}}, {{city}}, {{state}}, {{zip}}</p>
                    <p id="latitude" style="display: none">{{lat}}</p>
                    <p id="longitude" style="display: none">{{lng}}</p>
                </div>
            </div>
        {{/each}}

        <div id="map" style="display: contents"></div>

    </div>
</div>

<script>
    // Initialize and add the map
    var lat = $("#latitude").text();
    var lng = $("#longitude").text();
    console.log(lat, lng);
    function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
            center: {lat: parseFloat(lat), lng: parseFloat(lng)},
            zoom: 15
        });
        var marker = new google.maps.Marker({
           position: {lat: parseFloat(lat), lng: parseFloat(lng)},
            map: map,
            title: 'The Restaurant',
        });

        var contentstring = '<div><h3>We should put a link here.</h3></div>';
        var infowindow = new google.maps.InfoWindow({
            content: contentstring
        });
        marker.addListener('click', function () {
           infowindow.open(map, marker);
        });
    }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key={{GMapsAPIKEY}}&callback=initMap" async defer>



<!--var resOne = {lat: {{restaurant.0.lat}}, lng: {{restaurant.0.lng}}-->
<!--};-->
<!--// The map, centered at res-->
<!--var map = new google.maps.Map(-->
<!--document.getElementById('map'), {zoom: 4, center: resOne});-->
// The marker, positioned at res---

<!--{{#each restaurant}}-->
<!--    resOne = {lat: {{restaurant.0.lat}}, lng: {{restaurant.0.lng}} };-->
<!--    var marker = new google.maps.Marker({position: resOne, map: map});-->
<!--{{/each}}-->